<div class="row-fluid">
<div class="span12" style="background-color:#efefef;padding:10px 20px 20px 20px;">
<h4>Economic Indicators Breakfast</h4>
<h5>September 5th, 7 &ndash; 9 AM | UW-La Crosse</h5>
<p style="-webkit-margin-before:.25em !important;-webkit-margin-after:.65em !important;font-family:arial, sans-serif;font-size:12px;">State Bank is sponsoring an Economic Indicators Breakfast Thursday, September 5th from 7 &ndash; 9 AM at UW-La Crosse.  Please follow <a href="http://www.uwlax.edu/sbdc/Economic-Indicators.htm" style="color:#840d18;">this link</a> for more detail on the event.

  <p style="-webkit-margin-before:.25em !important;-webkit-margin-after:.65em !important;font-family:arial, sans-serif;font-size:12px;">Please <a href="https://certainregister.uwlax.edu/ei/getdemo.ei?id=12&s=_3HG0PE9LL&bulk=y" style="color:#840d18;">register online</a>, <a href="http://www.uwlax.edu/sbdc/Images%20and%20Forms/DOC%20Files/Economic%20Indicators%20registration%20form.pdf" style="color:#840d18;"> download a registration form</a>, or phone the Small Business Development Center at 608.785.8783 </p>
  <p style="-webkit-margin-before:.25em !important;-webkit-margin-after:.65em !important;font-family:arial, sans-serif;font-size:12px;">For more information and links to regional economic indicators, please visit the <a href="http://www.statebankfinancial.com/about-us/economic-indicator-reports.html" style="color:#840d18;">State Bank Financial website.</a></p>
</div>
</div>