<% content_for :volume_issue do %>
  Vol. 1, Issue 4
<% end %>

<div class="span5">
<h2>Your Headlines Delivered</h2>
<h3>Industry news relevant to your financial success</h3>
	


<h4 class="h-article"><a target="_blank" href="http://www.bizjournals.com/bizjournals/washingtonbureau/2014/04/tax-codes-complexity-bigger-problem-for-small.html" style="color:#840d18;" onClick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Tax Code's Complexity Bigger Problem for Small Businesses than Tax Bill Itself']);">Tax Code's Complexity Bigger Problem for Small Businesses than Tax Bill Itself </a></h4>

<p class="p-article">Sixty percent of them say they spend 40 hours a year figuring out federal taxes, but only half of them spend $5,000 or more to hire a tax professional to help them. - Washington Business Journal </p>




<h4 class="h-article"><a target="_blank" href="http://www.cnbc.com/id/101564987" style="color:#840d18;" onClick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Real Estate Site Targets Underserved Commercial Sweet Spot ']);">Real Estate Site Targets Underserved Commercial Sweet Spot </a></h4>

<p class="p-article">Commercial brokers may see fewer small business clients due to the creation of a real estate site that caters specifically to this group of small office renters. - CNBC</p>






<h4 class="h-article"><a target="_blank" href="http://finance.yahoo.com/news/digital-platform-launches-commercial-real-123000438.html" style="color:#840d18;" onClick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'New Digital Platform Launches for Commercial Real Estate Leasing Industry']);">New Digital Platform Launches for Commercial Real Estate Leasing Industry</a></h4>

<p class="p-article">The website is designed to help commercial brokers list properties, find buyers and tenants, and close deals faster. - Yahoo! Finance</p>




<h4 class="h-article"><a target="_blank" href="http://www.statebankfinancial.com/personal/services/estatements.html" style="color:#840d18;" onClick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Make Life Easier with eStatements']);">Make Life Easier with eStatements</a></h4>

<p class="p-article">Make the switch to free paperless eStatements for your business today. Cut clutter, wasted paper, and time spent searching for old statements. eStatements are available 24/7 and add security to your business’ private information. <a href="http://www.statebankfinancial.com/personal/services/estatements.html" target="_blank" style="color:#840d18;">Learn more and enroll today</a>.</p>





<h4 class="h-article"><span  style="color:#840d18;" >Download the New SBF Mobile Banking App</span></h4>

<p class="p-article">The new State Bank Financial Mobile Banking App is now available. The SBF Mobile Banking App is an upgrade in functionality and friendliness. Free to download and designed for either Android or Apple.<br /><br />

   Learn more when you log on to your favorite App Store and search for SBF Mobile Bank or click here:<br /><br />

    <a href="https://itunes.apple.com/us/app/state-bank-financial-mobile/id762846014?mt=8"> <img src="http://process.mostlyclicks.com/sbf/apple-app.jpg" style="padding-right:10px;box-shadow:none !important; width:129px;" /></a> 
<br /><br />
           
              <a href="https://play.google.com/store/apps/details?id=com.fi9575.godough"> <img src="http://process.mostlyclicks.com/sbf/google-play.png" style="padding-right:10px;box-shadow:none !important; width:129px;"/></a><br /><br />


 </p>




<h4 class="h-article"><span style="color:#840d18;" >SBA Waives Fees for Small Business Loans</span></h4>

<p class="p-article">The Small Business Administration is doing its part to help small businesses by waiving its fees for any loan that’s $150,000 or less*. State Bank Financial has experience servicing SBA loans for many business types. Contact us to see if this program fits your business lending needs.<br /><br /><br />

<i>*State Bank Financial fees still apply</i>

</p>

</div>



<div class="span3">
<img src="http://process.mostlyclicks.com/sbf/Colin_Fleming_250.jpg" />

		<h4>Colin Fleming</h4>
	      <small>Vice President, Small Business Lending</small>

	      <h4>I Can Help</h4>
	      <p style="-webkit-margin-before:.25em !important;-webkit-margin-after:.65em !important;font-family:arial, sans-serif;">We're here to help with your success. Complete the form below to request more information on these solutions:</p>
					      <ul>
        <li style="font-family:arial, sans-serif;font-size:12px;">Real Estate Loans</li>
        <li style="font-family:arial, sans-serif;font-size:12px;">Term Loans</li>
        <li style="font-family:arial, sans-serif;font-size:12px;">Lines of Credit</li>
        <li style="font-family:arial, sans-serif;font-size:12px;">Floor Plans</li>

					      </ul>
    
    <% @contact_from_page = 'colinf@statebankfinancial.com' %>
<%= render :partial => '/contacts/form', :locals => {:data => @contact} %>

    
</div>

<%= render 'lender_team' %>
