<% content_for :volume_issue do %>
  Vol. 1, Issue 3
<% end %>

<div class="span5">
<h2>Your Headlines Delivered</h2>
<h3>Industry news relevant to your financial success</h3>
	


	<h4 class="h-article"><a target="_blank" href="http://www.forbes.com/sites/thesba/2013/09/26/what-small-businesses-need-to-know-about-healthcare-reform/" style="color:#840d18;" onClick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', '5 Things Small Businesses Need to Know About Healthcare Reform']);">5 Things Small Businesses Need to Know About Healthcare Reform </a></h4>

<p class="p-article">The implementation of the Affordable Care Act is rapidly approaching and it is important that small businesses have a place to turn to for feedback, advice, and execution. – Forbes </p>



	

	<h4 class="h-article"><a target="_blank" href="http://www.cnbc.com/id/101037568" style="color:#840d18;" onClick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', ''Made in USA' Fuels New Manufacturing Hubs in Apparel ']);">'Made in USA' Fuels New Manufacturing Hubs in Apparel </a></h4>

	<p class="p-article">Currently, 97% of the apparel sold in the U.S. is made overseas, but there are signs that that is changing. - CNBC </p>

	<h4 class="h-article"><a target="_blank" href="http://www.newsday.com/business/retailers-ring-in-the-shopping-season-earlier-1.6198734" style="color:#840d18;" onClick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Retailers Ring in the Shopping Season Earlier ']);">Retailers Ring in the Shopping Season Earlier </a></h4>

	<p class="p-article">A significant number of shoppers begin purchasing holiday gifts in September, when they see a good deal, according to retail experts. - Newsday </p>

</div>



<div class="span3">
<img src="http://process.mostlyclicks.com/sbf/Colin_Fleming_250.jpg" />

		<h4>Colin Fleming</h4>
	      <small>Vice President, Small Business Lending</small>

	      <h4>I Can Help</h4>
	      <p style="-webkit-margin-before:.25em !important;-webkit-margin-after:.65em !important;font-family:arial, sans-serif;">We're here to help with your success. Complete the form below to request more information on these solutions:</p>
					      <ul>
        <li style="font-family:arial, sans-serif;font-size:12px;">Real Estate Loans</li>
        <li style="font-family:arial, sans-serif;font-size:12px;">Term Loans</li>
        <li style="font-family:arial, sans-serif;font-size:12px;">Lines of Credit</li>
        <li style="font-family:arial, sans-serif;font-size:12px;">Floor Plans</li>

					      </ul>
    
    <% @contact_from_page = 'colinf@statebankfinancial.com' %>
<%= render :partial => '/contacts/form', :locals => {:data => @contact} %>

    
</div>

<%= render 'lender_team' %>
