<% content_for :volume_issue do %>
  Vol. 1, Issue 5
<% end %>

<div class="span5">
<h2>Your Headlines Delivered</h2>
<h3>Industry news relevant to your financial success</h3>


<h4 class="h-article" style="color:#840d18;" >La Crosse Economy Status</h4>

<p class="p-article">Second Quarter 2014. Economic growth has been erratic since the recession, typical of a small market. Growth was good in the past year, with job gains in government and the large healthcare sector. Expect patchy growth the next few years. <br /><br />
                        In the past 12 months, jobs in this market have changed by 1.4 percent. This compares to a national increase of 1.8 percent. Growth in local jobs should increase consumer spending, helping local retailers and service providers. <i>- Data supplied by Local Market Monitor, Inc.</i>
                         </p>
<p class="p-article"><a href="http://www.metre-development.com/emails/SBF/29100_graph_job_growth.png"><img src="http://www.metre-development.com/emails/SBF/29100_graph_job_growth.png" style="width:100%;" /></a><br /><br /></p>




<h4 class="h-article"><a target="_blank" href="http://www.smallbusiness.foxbusiness.com/marketing-sales/2014/07/10/6-tips-for-expanding-your-business-regardless-economy/" style="color:#840d18;" onClick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', '6 Tips for Expanding Your Small Business - Regardless of the Economy']);">6 Tips for Expanding Your Small Business - Regardless of the Economy</a></h4>

<p class="p-article">Growth and expansion are key goals for most business owners and entrepreneurs. But how can you expand your business in today's lackluster and slow-growth economy? - AllBusiness.com</p>






<h4 class="h-article" style="color:#840d18;">For Your Employees: $500 off Closing Costs on Home Loans*</h4>

<p class="p-article">If any of your employees are considering a home purchase, encourage them to check us out. State Bank Financial is offering $500 off closing costs on home loans*. <br /><br />
                          Employees can <a href="https://statebankfinancial.mortgagewebcenter.com/" style="color:#840d18;" onClick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Apply Now']);">Apply Now</a> to take advantage of this offer or contact us to learn more. Offer expires August 31st.<br /><br />
                          <i>*Discount applies to owner occupied single family residences only. Loan must be processed and closed through State Bank Financial to receive discount. Not valid with any other offers. Subject to credit approval and requires State Bank Financial checking account and e-statements. Home Equity Lines of Credit are not eligible.</i> </p>
                        


</div>



<div class="span3">
<img src="http://process.mostlyclicks.com/sbf/DalePertzborn_250.jpg" />

  <h4>Dale Pertzborn</h4>
  <small>Vice President, Business Banking Solutions</small>
  
  <h4>I Can Help</h4>
  <p style="-webkit-margin-before:.25em !important;-webkit-margin-after:.65em !important;font-family:arial, sans-serif;">We're here to help with your success. Complete the form below to request more information on these solutions:</p>
  <ul>
    <li style="font-family:arial, sans-serif;font-size:12px;">Real Estate Loans</li>
    <li style="font-family:arial, sans-serif;font-size:12px;">Term Loans</li>
    <li style="font-family:arial, sans-serif;font-size:12px;">Lines of Credit</li>
    <li style="font-family:arial, sans-serif;font-size:12px;">FSA Guaranteed Loans</li>
    <li style="font-family:arial, sans-serif;font-size:12px;">WHEDA Loans</li>
    <li style="font-family:arial, sans-serif;font-size:12px;">Equipment Leasing</li>
  </ul>

<% @contact_from_page = 'dalep@statebankfinancial.com' %>
<%= render :partial => '/contacts/form', :locals => {:data => @contact} %>



</div>

<%= render 'lender_team' %>
