<% content_for :volume_issue do %>
  Vol. 1, Issue 4
<% end %>

<div class="span5">
<h2>Your Headlines Delivered</h2>
<h3>Industry news relevant to your financial success</h3>

<h4 class="h-article"><a target="_blank" href="http://www.manufacturing.net/news/2014/04/ethanol-producers-unhappy-with-rail-service" style="color:#840d18;" onClick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Ethanol Producers Unhappy With Rail Service ']);">Ethanol Producers Unhappy With Rail Service </a></h4>

<p class="p-article">Farmers and grain elevators have also criticized railroads this year after wintry weather and clogged rail lines boosted the average wait time at hubs from 35 hours to 60 hours. - Manufacturing.net </p>


<h4 class="h-article"><a target="_blank" href="http://southeastfarmpress.com/miscellaneous/farm-banks-increased-2013-ag-lending-face-headwinds-2014" style="color:#840d18;" onClick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Farm Banks Increased 2013 Ag Lending, Face Headwinds in 2014 ']);">Farm Banks Increased 2013 Ag Lending, Face Headwinds in 2014 </a></h4>

<p class="p-article">Small and micro-small loans comprised half of all bank agricultural lending in 2013, which rose 9% total for the year, the annual Farm Bank Performance Report indicates. - Southeast Farm Press</p>


<h4 class="h-article"><a target="_blank" href="http://www.agweb.com/article/the_year_of_the_cow_NAA_Jim_Dickrell/" style="color:#840d18;" onClick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'The Year of the Cow']);">The Year of the Cow</a></h4>

<p class="p-article">Record high prices, lower feed costs and surging exports to emerging markets will make very good margins for dairy farmers this year and possibly the next several. - Ag Web </p>



<h4 class="h-article"><span  style="color:#840d18;" >Download the New SBF Mobile Banking App</span></h4>

<p class="p-article">The new State Bank Financial Mobile Banking App is now available. The SBF Mobile Banking App is an upgrade in functionality and friendliness. Free to download and designed for either Android or Apple.<br /><br />

   Learn more when you log on to your favorite App Store and search for SBF Mobile Bank or click here:<br /><br />

    <a href="https://itunes.apple.com/us/app/state-bank-financial-mobile/id762846014?mt=8"> <img src="http://process.mostlyclicks.com/sbf/apple-app.jpg" style="padding-right:10px;box-shadow:none !important; width:129px;" /></a> 
<br /><br />
           
              <a href="https://play.google.com/store/apps/details?id=com.fi9575.godough"> <img src="http://process.mostlyclicks.com/sbf/google-play.png" style="padding-right:10px;box-shadow:none !important; width:129px;"/></a><br /><br />


 </p>




<h4 class="h-article"><span style="color:#840d18;" >SBA Waives Fees for Small Business Loans</span></h4>

<p class="p-article">The Small Business Administration is doing its part to help small businesses by waiving its fees for any loan that’s $150,000 or less*. State Bank Financial has experience servicing SBA loans for many business types. Contact us to see if this program fits your business lending needs.<br /><br /><br />

<i>*State Bank Financial fees still apply</i>

</p>



</div>

<div class="span3">
<img src="http://process.mostlyclicks.com/sbf/DJ_Wright_250.jpg" />
  
      <h4>DJ Wright</h4>
      <small>Vice President, Business Banking Solutions</small>

      <h4>I Can Help</h4>
      <p style="-webkit-margin-before:.25em !important;-webkit-margin-after:.65em !important;font-family:arial, sans-serif;">We're here to help with your success. Complete the form below to request more information on these solutions:</p>
      <ul>
        <li style="font-family:arial, sans-serif;font-size:12px;">Real Estate Loans</li>
        <li style="font-family:arial, sans-serif;font-size:12px;">Term Loans</li>
        <li style="font-family:arial, sans-serif;font-size:12px;">Lines of Credit</li>
        <li style="font-family:arial, sans-serif;font-size:12px;">FSA Guaranteed Loans</li>
        <li style="font-family:arial, sans-serif;font-size:12px;">WHEDA Loans</li>
        <li style="font-family:arial, sans-serif;font-size:12px;">Equipment Leasing</li>
      </ul>

      <% @contact_from_page = 'djw@statebankfinancial.com' %>
      <%= render :partial => '/contacts/form', :locals => {:data => @contact} %>


</div>

<%= render 'lender_team' %>
