<% content_for :volume_issue do %>
  Vol. 1, Issue 3
<% end %>

<div class="span5">
<h2>Your Headlines Delivered</h2>
<h3>Industry news relevant to your financial success</h3>

  <h4 class="h-article"><a target="_blank" href="http://www.jsonline.com/business/wisconsin-farmers-could-receive-much-less-for-their-corn-this-year-b99118224z1-227468221.html" style="color:#840d18;" onClick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Despite Shutdown, Ag Industry Moves Forward ']);">Wisconsin Farmers Could Receive Much Less for their Corn This Year </a></h4>

<p class="p-article">Grain farmers could earn just $4 a bushel this year, which is barely enough to cover costs and would put a dent in farm equipment demand next spring. - The Milwaukee Journal-Sentinel</p>

  <h4 class="h-article"><a target="_blank" href="http://farmindustrynews.com/farm-equipment/3-d-printing-technology-impact-agriculture" style="color:#840d18;" onClick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', '3D Printing Already Used in Agriculture Technology, Becoming More Common ']);">3D Printing Already Used in Agriculture Technology, Becoming More Common </a></h4>

<p class="p-article">Farm machinery manufacturers already use 3D printing in their design process, where they identify faults before the big assembly lines start their work. - Farm Industry News</p>

  <h4 class="h-article"><a target="_blank" href="http://thegazette.com/2013/09/24/sticker-shock-its-not-just-on-new-tractors-anymore/" style="color:#840d18;" onClick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Sticker Shock: It's Not Just on New Tractors Anymore ']);">Sticker Shock: It's Not Just on New Tractors Anymore </a></h4>

<p class="p-article">Prices for used tractors have risen 6% this year, and one of the reasons is that some farmers like to keep their equipment simple. - The Gazette </p>




</div>

<div class="span3">
<img src="http://process.mostlyclicks.com/sbf/DJ_Wright_250.jpg" />
  
      <h4>DJ Wright</h4>
      <small>Vice President, Business Banking Solutions</small>

      <h4>I Can Help</h4>
      <p style="-webkit-margin-before:.25em !important;-webkit-margin-after:.65em !important;font-family:arial, sans-serif;">We're here to help with your success. Click the solutions below to email me for more information.</p>
      <ul>
        <li style="font-family:arial, sans-serif;font-size:12px;"><a target="_blank" href="mailto:djw@statebankfinancial.com?cc=wayneo@statebankfinancial.com&subject=Real%20Estate%20Loans%20Inquiry" style="color:#840d18;">Real Estate Loans</a></li>
        <li style="font-family:arial, sans-serif;font-size:12px;"><a target="_blank" href="mailto:djw@statebankfinancial.com?cc=wayneo@statebankfinancial.com&subject=Term%20Loans%20Inquiry" style="color:#840d18;">Term Loans</a></li>
        <li style="font-family:arial, sans-serif;font-size:12px;"><a target="_blank" href="mailto:djw@statebankfinancial.com?cc=wayneo@statebankfinancial.com&subject=Lines%20of%20Credit%20Inquiry" style="color:#840d18;">Lines of Credit</a></li>
        <li style="font-family:arial, sans-serif;font-size:12px;"><a target="_blank" href="mailto:djw@statebankfinancial.com?cc=wayneo@statebankfinancial.com&subject=FSA%20Guaranteed%20Loans%20Inquiry" style="color:#840d18;">FSA Guaranteed Loans</a></li>
        <li style="font-family:arial, sans-serif;font-size:12px;"><a target="_blank" href="mailto:djw@statebankfinancial.com?cc=wayneo@statebankfinancial.com&subject=WHEDA%20Loans%20Inquiry" style="color:#840d18;">WHEDA Loans</a></li>
        <li style="font-family:arial, sans-serif;font-size:12px;"><a target="_blank" href="mailto:djw@statebankfinancial.com?cc=wayneo@statebankfinancial.com&subject=Equipment%20Leasing%20Inquiry" style="color:#840d18;">Equipment Leasing</a></li>
      </ul>

      <% @contact_from_page = 'djw@statebankfinancial.com' %>
      <%= render :partial => '/contacts/form', :locals => {:data => @contact} %>


</div>

<%= render 'lender_team' %>
