<div class="span5">
<h2>Your Headlines Delivered</h2>
<h3>Industry news relevant to your financial success</h3>
<h4><a href="http://www.industryweek.com/global-economy/make-your-move-farm-machinery-headed-growth" style="color:#840d18;">Make Your Move: Farm Machinery Headed for Growth</a></h4>

<p>Farm machinery sales in the U.S. continue to rise, especially combines (up 66% over the same period last year) and tractors (up 22-24%) - Industry Week</p>

<h4><a href="http://www.farms.com/ExpertsCommentary/usda-predicts-bin-busting-corn-soybean-crops-66011.aspx" style="color:#840d18;">USDA Predicts Bin-Busting Corn, Soybean Crops</a></h4>

<p>The U.S. corn crop could hit 13.8 billion bushels this year, a 28% rise over last year and a new record; soybean farmers aren't doing so badly, either. - Farms.com</p>

<h4><a href="http://www.nytimes.com/2013/08/17/your-money/despite-drop-in-commodity-prices-farmland-values-rise.html?pagewanted=1&ref=agriculture" style="color:#840d18;">Despite Drop in Commodity Prices, Farmland Values Rise</a></h4>

<p>The value of farmland continues to rise, undeterred by lower prices on commodities like corn and soybean crops. - The New York Times</p>

<%= render 'econ_indicators' %>
</div>

<div class="span3">
<img src="http://process.mostlyclicks.com/sbf/DJ_Wright_250.jpg" />
  
      <h4>DJ Wright</h4>
      <small>Vice President, Business Banking Solutions</small>

      <h4>I Can Help</h4>
      <p style="-webkit-margin-before:.25em !important;-webkit-margin-after:.65em !important;font-family:arial, sans-serif;">We're here to help with your success. Click the solutions below to email me for more information.</p>
      <ul>
        <li style="font-family:arial, sans-serif;font-size:12px;"><a href="mailto:djw@statebankfinancial.com?cc=wayneo@statebankfinancial.com&subject=Real%20Estate%20Loans%20Inquiry" style="color:#840d18;">Real Estate Loans</a></li>
        <li style="font-family:arial, sans-serif;font-size:12px;"><a href="mailto:djw@statebankfinancial.com?cc=wayneo@statebankfinancial.com&subject=Term%20Loans%20Inquiry" style="color:#840d18;">Term Loans</a></li>
        <li style="font-family:arial, sans-serif;font-size:12px;"><a href="mailto:djw@statebankfinancial.com?cc=wayneo@statebankfinancial.com&subject=Lines%20of%20Credit%20Inquiry" style="color:#840d18;">Lines of Credit</a></li>
        <li style="font-family:arial, sans-serif;font-size:12px;"><a href="mailto:djw@statebankfinancial.com?cc=wayneo@statebankfinancial.com&subject=FSA%20Guaranteed%20Loans%20Inquiry" style="color:#840d18;">FSA Guaranteed Loans</a></li>
        <li style="font-family:arial, sans-serif;font-size:12px;"><a href="mailto:djw@statebankfinancial.com?cc=wayneo@statebankfinancial.com&subject=WHEDA%20Loans%20Inquiry" style="color:#840d18;">WHEDA Loans</a></li>
        <li style="font-family:arial, sans-serif;font-size:12px;"><a href="mailto:djw@statebankfinancial.com?cc=wayneo@statebankfinancial.com&subject=Equipment%20Leasing%20Inquiry" style="color:#840d18;">Equipment Leasing</a></li>
      </ul>

</div>

<%= render 'lender_team' %>
