<% content_for :volume_issue do %>
  Vol. 1, Issue 2
<% end %>
<div class="span8">
<h2>Your Headlines Delivered</h2>
<h3>Industry news relevant to your financial success</h3>
<h4><a target="_blank" href="http://www.manufacturing.net/news/2013/06/export-revival-underway-for-small-businesses" style="color:#840d18;">Export Revival Underway for Small Businesses</a></h4>

<p>Farm machinery manufacturer Air Tractor turned to exports to grow revenue during the recession and hasn't looked back. - Manufacturing.net</p>

<h4><a target="_blank" href="http://www.washingtonpost.com/business/on-small-business/irs-probing-thousands-of-small-businesses-raises-eyebrows-in-congress/2013/08/13/50030296-0417-11e3-9259-e2aafe5a5f84_story.html" style="color:#840d18;">IRS Probing Thousands of Small Businesses, Raises Eyebrows in Congress</a></h4>

<p>The agency sent letters to 20,000 small businesses this summer and is believed to be trying to uncover underreporting of cash payments. - The Washington Post </p>

<h4><a target="_blank" href="http://www.bizjournals.com/bizjournals/washingtonbureau/2013/08/07/the-7-signs-of-a-muddled-outlook-for.html?page=all" style="color:#840d18;">7 Signs of a Muddled Outlook for Small Businesses</a></h4>

<p>The NSBA's latest survey reveals that pessimism about the economy and poor access to credit are two big factors hindering small business growth. - Washington Business Journal</p>

<h4><a target="_blank" href="http://www.nrha.org/v2/Hardware_Retailing/Article.aspx?slug=overall-retail-sales-up-building-materials-sales-down-in-july" style="color:#840d18;">Overall Retail Sales Up, Building Materials Sales Down in July </a></h4>

<p>They fell 0.4% seasonally adjusted, year-over-year, as the president of the National Retail Federation says 'We just can't seem to pull ourselves up.' - Hardware Retailing </p>

<h4><a target="_blank" href="http://www.bizjournals.com/louisville/news/2013/08/08/some-see-less-demand-for-traditional.html?iana=ind_cre" style="color:#840d18;">Some See Less Demand for 'Traditional' Office Space </a></h4>

<p>Brokers and property managers are increasingly having difficulty leasing and selling traditional downtown office space as more businesses demand open work space and flexible leases. - Business First </p>



<h4><a target="_blank" href="http://www.industryweek.com/global-economy/make-your-move-farm-machinery-headed-growth" style="color:#840d18;">Make Your Move: Farm Machinery Headed for Growth </a></h4>

<p>Farm machinery sales in the U.S. continue to rise, especially combines (up 66% over the same period last year) and tractors (up 22-24%) - Industry Week </p>

<h4><a target="_blank" href="http://www.farms.com/ExpertsCommentary/usda-predicts-bin-busting-corn-soybean-crops-66011.aspx" style="color:#840d18;">USDA Predicts Bin-Busting Corn, Soybean Crops </a></h4>

<p>The U.S. corn crop could hit 13.8 billion bushels this year, a 28% rise over last year and a new record; soybean farmers aren't doing so badly, either. - Farms.com</p> 

<h4><a target="_blank" href="http://www.nytimes.com/2013/08/17/your-money/despite-drop-in-commodity-prices-farmland-values-rise.html?pagewanted=1&ref=agriculture&_r=1&" style="color:#840d18;">Despite Drop in Commodity Prices, Farmland Values Rise </a></h4>

<p>The value of farmland continues to rise, undeterred by lower prices on commodities like corn and soybean crops. - The New York Times</p>

<h4><a target="_blank" href="http://www.nytimes.com/2013/08/07/business/media/magazine-newsstand-sales-plummet-but-digital-editions-thrive.html?ref=business&_r=0" style="color:#840d18;">Magazine Newsstand Sales Plummet, But Digital Editions Thrive </a></h4>

  <p>A new study supports the strategy of some commercial printers to provide both print and digital services to customers. - The New York Times </p>

  <h4><a target="_blank" href="http://www.wisconsinrapidstribune.com/article/20130810/WRT01/308100248/DNR-ruling-help-NewPage-Corp-invest-paper-mills?gcheck=1" style="color:#840d18;">DNR Ruling to Help NewPage Corp. Invest in Paper Mills </a></h4>

  <p>The paper product manufacturer's effective management of working capital during the quarter convinced a state agency to let $20M in letters of credit be released. - The Wisconsin Rapids Tribune </p> 

  <h4><a target="_blank" href="http://www.csnews.com/article-thirst_for_knowledge-6064.html" style="color:#840d18;">Thirst for Knowledge </a></h4>

  <p>Industry experts provided c-store and grocery channel retailers insight on the current beverage market at the 2013 Convenience Store News and Progressive Grocer Beverage &amp Beer Retailing Summit. - Convenience Store News </p>

  <h4><a target="_blank" href="http://thegazette.com/2013/08/02/manufactured-home-sales-see-slow-recovering/" style="color:#840d18;">Manufactured Home Sales See Slow Recovering</a></h4>

  <p>This manufactured home dealer says sales are slightly better, but 80% of his customers are buying pre-owned manufactured homes instead of new ones this year. - The Gazette</p>

  <h4><a target="_blank" href="http://www.reuters.com/article/2013/08/16/idUSCATGJE95020130816" style="color:#840d18;" onClick="trackOutboundLink(this, 'Outbound Links', 'http://www.reuters.com/article/2013/08/16/idUSCATGJE95020130816'); return false;">U.S. Housing Starts, Permits Rise in July But Below Forecasts</a></h4>

  <p>The 5.9% seasonally-adjusted increase missed expectations and is a sign that plywood manufacturers could see a dip in demand. - Reuters</p>


</div>





<%= render 'lender_team' %>