<div class="span5">
<h2>Your Headlines Delivered</h2>
<h3>Industry news relevant to your financial success</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<div class="span3">
<table cellpadding="0" cellspacing="0" border="0" width="260" align="left">
  <tr>
    <td class="bio-img" width="250" style=""><img src="http://process.mostlyclicks.com/sbf/LawtonJason_250.jpg" /></td>
  </tr>

  <tr>
    <td align="left" width="250">
      <h4>I Can Help</h4>
      <p style="-webkit-margin-before:.25em !important;-webkit-margin-after:.65em !important;font-family:arial, sans-serif;">We're here to help with your success. Click the solutions below to email me for more information.</p>
      <ul>
        <li style="font-family:arial, sans-serif;font-size:12px;"><a href="mailto:jasonl@statebankfinancial.com?cc=wayneo@statebankfinancial.com&subject=Real%20Estate%20Loans%20Inquiry" style="color:#840d18;">Real Estate Loans</a></li>
        <li style="font-family:arial, sans-serif;font-size:12px;"><a href="mailto:jasonl@statebankfinancial.com?cc=wayneo@statebankfinancial.com&subject=Term%20Loans%20Inquiry" style="color:#840d18;">Term Loans</a></li>
        <li style="font-family:arial, sans-serif;font-size:12px;"><a href="mailto:jasonl@statebankfinancial.com?cc=wayneo@statebankfinancial.com&subject=Lines%20of%20Credit%20Inquiry" style="color:#840d18;">Lines of Credit</a></li>
        <li style="font-family:arial, sans-serif;font-size:12px;"><a href="mailto:jasonl@statebankfinancial.com?cc=wayneo@statebankfinancial.com&subject=Equipment%20Leasing%20Inquiry" style="color:#840d18;">Equipment Leasing</a></li>
      </ul>
    
    </td>
  </tr>
</table>
</div>

<%= render 'lender_team' %>
