<div class="span5">
<h2>Your Headlines Delivered</h2>
<h3>Industry news relevant to your financial success</h3>
<h4><a href="http://www.manufacturing.net/news/2013/06/export-revival-underway-for-small-businesses" style="color:#840d18;">Export Revival Underway for Small Businesses</a></h4>

  <p>Farm machinery manufacturer Air Tractor turned to exports to grow revenue during the recession and hasn't looked back. - Manufacturing.net</p>

  <h4><a href="http://www.washingtonpost.com/business/on-small-business/irs-probing-thousands-of-small-businesses-raises-eyebrows-in-congress/2013/08/13/50030296-0417-11e3-9259-e2aafe5a5f84_story.html" style="color:#840d18;">IRS Probing Thousands of Small Businesses, Raises Eyebrows in Congress</a></h4>

  <p>The agency sent letters to 20,000 small businesses this summer and is believed to be trying to uncover underreporting of cash payments. - The Washington Post</p>

  <h4><a href="http://www.bizjournals.com/bizjournals/washingtonbureau/2013/08/07/the-7-signs-of-a-muddled-outlook-for.html?page=all" style="color:#840d18;">7 Signs of a Muddled Outlook for Small Businesses</a></h4>

  <p>The NSBA's latest survey reveals that pessimism about the economy and poor access to credit are two big factors hindering small business growth. - Washington Business Journal</p>
</div>

<div class="span3">
<table cellpadding="0" cellspacing="0" border="0" width="260" align="left">
  <tr>
    <td class="bio-img" width="250" style=""><img src="http://process.mostlyclicks.com/sbf/jodi_250.jpg" /></td>
  </tr>

  <tr>
    <td align="left" width="250">

      <h3 style="color:#840d18;font-family:arial, sans-serif;margin-top:.5em;">Jodi Ehrenberger</h3>
      <small>Assistant Vice President, Small Business Lending</small>

      <h4>I Can Help</h4>
      <p style="-webkit-margin-before:.25em !important;-webkit-margin-after:.65em !important;font-family:arial, sans-serif;">We're here to help with your success. Click the solutions below to email me for more information.</p>
      <ul>
        <li style="font-family:arial, sans-serif;font-size:12px;"><a href="mailto:jodie@statebankfinancial.com?cc=wayneo@statebankfinancial.com&subject=Real%20Estate%20Loans%20Inquiry" style="color:#840d18;">Real Estate Loans</a></li>
        <li style="font-family:arial, sans-serif;font-size:12px;"><a href="mailto:jodie@statebankfinancial.com?cc=wayneo@statebankfinancial.com&subject=Term%20Loans%20Inquiry" style="color:#840d18;">Term Loans</a></li>
        <li style="font-family:arial, sans-serif;font-size:12px;"><a href="mailto:jodie@statebankfinancial.com?cc=wayneo@statebankfinancial.com&subject=Lines%20of%20Credit%20Inquiry" style="color:#840d18;">Lines of Credit</a></li>
        <li style="font-family:arial, sans-serif;font-size:12px;"><a href="mailto:jodie@statebankfinancial.com?cc=wayneo@statebankfinancial.com&subject=Small%20Business%20Loans%20(SBA)%20Inquiry" style="color:#840d18;">Small Business Loans (SBA)</a></li>
        <li style="font-family:arial, sans-serif;font-size:12px;"><a href="mailto:jodie@statebankfinancial.com?cc=wayneo@statebankfinancial.com&subject=Treasury%20Management%20Solutions%20Inquiry" style="color:#840d18;">Treasury Management Solutions</a></li>
      </ul>
    
    </td>
  </tr>
</table>
</div>

<%= render 'lender_team' %>
