<% content_for :volume_issue do %>
  Vol. 1, Issue 4
<% end %>



<div class="span5">
<h2>Your Headlines Delivered</h2>
<h3>Industry news relevant to your financial success</h3>


<h4 class="h-article"><a target="_blank" href="http://enr.construction.com/policy/washington_observer/2014/0414-tax-8216extenders8217-bill8217s-prospects-are-unclear.asp" style="color:#840d18;" onClick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Tax 'Extenders' Bill's Prospects are Unclear ']);">Tax 'Extenders' Bill's Prospects are Unclear </a></h4>

<p class="p-article">Site prep contractors are closely watching Congress to see if extension on capital goods expensing and bonus depreciation credits that expired at the end of 2013 and help companies manage the tax burden of purchasing new equipment. - Engineering News-Record </p>





<h4 class="h-article"><a target="_blank" href="http://finance.yahoo.com/news/digital-platform-launches-commercial-real-123000438.html" style="color:#840d18;" onClick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'New Digital Platform Launches for Commercial Real Estate Leasing Industry']);">New Digital Platform Launches for Commercial Real Estate Leasing Industry</a></h4>

<p class="p-article">The website is designed to help commercial brokers list properties, find buyers and tenants, and close deals faster. - Yahoo! Finance</p>




<h4 class="h-article"><a target="_blank" href="http://www.bloomberg.com/news/2014-03-17/manufacturing-production-in-u-s-increases-by-most-since-august.html" style="color:#840d18;" onClick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Factory Output in U.S. Rises Most in 6 Months ']);">Factory Output in U.S. Rises Most in 6 Months </a></h4>

<p class="p-article">Industrial production increased 0.8% in February, good for metal coating firms and a near-reversal of the 0.9% decline that manufacturers experienced in January. - Bloomberg</p>




<h4 class="h-article"><span  style="color:#840d18;" >Download the New SBF Mobile Banking App</span></h4>

<p class="p-article">The new State Bank Financial Mobile Banking App is now available. The SBF Mobile Banking App is an upgrade in functionality and friendliness. Free to download and designed for either Android or Apple.<br /><br />

   Learn more when you log on to your favorite App Store and search for SBF Mobile Bank or click here:<br /><br />

    <a href="https://itunes.apple.com/us/app/state-bank-financial-mobile/id762846014?mt=8"> <img src="http://process.mostlyclicks.com/sbf/apple-app.jpg" style="padding-right:10px;box-shadow:none !important; width:129px;" /></a> 
<br /><br />
           
              <a href="https://play.google.com/store/apps/details?id=com.fi9575.godough"> <img src="http://process.mostlyclicks.com/sbf/google-play.png" style="padding-right:10px;box-shadow:none !important; width:129px;"/></a><br /><br />


 </p>




<h4 class="h-article"><span style="color:#840d18;" >SBA Waives Fees for Small Business Loans</span></h4>

<p class="p-article">The Small Business Administration is doing its part to help small businesses by waiving its fees for any loan that’s $150,000 or less*. State Bank Financial has experience servicing SBA loans for many business types. Contact us to see if this program fits your business lending needs.<br /><br /><br />

<i>*State Bank Financial fees still apply</i>

</p>


</div>

<div class="span3">
<img src="http://process.mostlyclicks.com/sbf/Steve_McConaghy_250.jpg" />
  

      <h4>Steve McConaghy</h4>
      <small>Vice President, Business Banking Solutions</small>
      
      <h4>I Can Help</h4>
      <p style="-webkit-margin-before:.25em !important;-webkit-margin-after:.65em !important;font-family:arial, sans-serif;">We're here to help with your success. Complete the form below to request more information on these solutions:</p>
      <ul>
        <li style="font-family:arial, sans-serif;font-size:12px;">Real Estate Loans</li>
        <li style="font-family:arial, sans-serif;font-size:12px;">Term Loans</li>
        <li style="font-family:arial, sans-serif;font-size:12px;">Lines of Credit</li>
        <li style="font-family:arial, sans-serif;font-size:12px;">Equipment Leasing</li>
        <li style="font-family:arial, sans-serif;font-size:12px;">Floor Plans</li>

      </ul>


<% @contact_from_page = 'stevem@statebankfinancial.com' %>
<%= render :partial => '/contacts/form', :locals => {:data => @contact} %>

</div>

<%= render 'lender_team' %>
