<% content_for :volume_issue do %>
  Vol. 1, Issue 3
<% end %>



<div class="span5">
<h2>Your Headlines Delivered</h2>
<h3>Industry news relevant to your financial success</h3>

<h4 class="h-article"><a href="http://www.manufacturing.net/news/2013/09/report-midsized-manufacturers-expect-revenue-gains-through-2013" style="color:#840d18;" onClick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Report: Midsized Manufacturers Expect Revenue Gains through 2013 ']);">Report: Midsized Manufacturers Expect Revenue Gains through 2013 </a></h4>

<p class="p-article">Ninety-eight percent of the respondents to this survey expect higher revenue in the second half of the year, and one in three predict higher capital expenditures. - Manufacturing.net </p>

<h4 class="h-article"><a href="http://supermarketnews.com/retail-amp-financial/sn-webinar-landscape-shifts-real-estate-growth-strategies" style="color:#840d18;" onClick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Landscape Shifts Real Estate, Growth Strategies ']);">Landscape Shifts Real Estate, Growth Strategies </a></h4>

<p class="p-article">Health supplement stores should watch this statistic: Eleven percent of grocery shoppers make their purchases online today, and that will likely increase. - Supermarket News </p>

<h4 class="h-article"><a href="http://www.goprintandpromo.com/article/kodak-emerges-bankruptcy-smaller-company-focused-commercial-printing-25064495/1" style="color:#840d18;" onClick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Kodak Emerges from Bankruptcy Smaller and Focused on Commercial Printing ']);">Kodak Emerges from Bankruptcy Smaller and Focused on Commercial Printing </a></h4>

<p class="p-article">The new company is centered on digital imaging and will serve the packaging, graphic communications and printing markets. - Print + Promo </p>


</div>

<div class="span3">
<img src="http://process.mostlyclicks.com/sbf/Steve_McConaghy_250.jpg" />
  

      <h4>Steve McConaghy</h4>
      <small>Vice President, Business Banking Solutions</small>
      
      <h4>I Can Help</h4>
      <p style="-webkit-margin-before:.25em !important;-webkit-margin-after:.65em !important;font-family:arial, sans-serif;">We're here to help with your success. Click the solutions below to email me for more information.</p>
      <ul>
        <li style="font-family:arial, sans-serif;font-size:12px;"><a href="mailto:stevenm@statebankfinancial.com?cc=wayneo@statebankfinancial.com&subject=Real%20Estate%20Loans%20Inquiry" style="color:#840d18;">Real Estate Loans</a></li>
        <li style="font-family:arial, sans-serif;font-size:12px;"><a href="mailto:stevenm@statebankfinancial.com?cc=wayneo@statebankfinancial.com&subject=Term%20Loans%20Inquiry" style="color:#840d18;">Term Loans</a></li>
        <li style="font-family:arial, sans-serif;font-size:12px;"><a href="mailto:stevenm@statebankfinancial.com?cc=wayneo@statebankfinancial.com&subject=Lines%20of%20Credit%20Inquiry" style="color:#840d18;">Lines of Credit</a></li>
        <li style="font-family:arial, sans-serif;font-size:12px;"><a href="mailto:stevenm@statebankfinancial.com?cc=wayneo@statebankfinancial.com&subject=Equipment%20Leasing%20Inquiry" style="color:#840d18;">Equipment Leasing</a></li>
        <li style="font-family:arial, sans-serif;font-size:12px;"><a href="mailto:stevenm@statebankfinancial.com?cc=wayneo@statebankfinancial.com&subject=Floor%20Plans%20Inquiry" style="color:#840d18;">Floor Plans</a></li>

      </ul>


<% @contact_from_page = 'stevem@statebankfinancial.com' %>
<%= render :partial => '/contacts/form', :locals => {:data => @contact} %>

</div>

<%= render 'lender_team' %>
