<% content_for :volume_issue do %>
  Vol. 1, Issue 3
<% end %>

<div class="span5">
<h2>Your Headlines Delivered</h2>
<h3>Industry news relevant to your financial success</h3>
    
    <h4 class="h-article"><a href="http://online.wsj.com/news/articles/SB10001424052702303983904579095441971500928" style="color:#840d18;" onClick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Bad-Loan Revival Unburdens BBadanks ']);">Bad-Loan Revival Unburdens BBadanks </a></h4>

    <p class="p-article">Brokers are seeing rising demand for commercial properties from mom-and-pop businesses, immigrants and other smaller investors. - Wall Street Journal</p>
  
    <h4 class="h-article"><a href="http://www.newsday.com/business/retailers-ring-in-the-shopping-season-earlier-1.6198734" style="color:#840d18;" onClick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Retailers Ring in the Shopping Season Earlier ']);">Retailers Ring in the Shopping Season Earlier </a></h4>

    <p class="p-article">A significant number of shoppers begin purchasing holiday gifts in September, when they see a good deal, according to retail experts. - Newsday </p>

    <h4 class="h-article"><a href="http://supermarketnews.com/retail-amp-financial/sn-webinar-landscape-shifts-real-estate-growth-strategies" style="color:#840d18;" onClick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Landscape Shifts Real Estate, Growth Strategies ']);">Landscape Shifts Real Estate, Growth Strategies </a></h4>

    <p class="p-article">Health supplement stores should watch this statistic: Eleven percent of grocery shoppers make their purchases online today, and that will likely increase. - Supermarket News </p>



</div>

<div class="span3">
<img src="http://process.mostlyclicks.com/sbf/CroliusTerry_250.jpg" />
  
      <h4>Teresa (Terry) Crolius</h4>
      <small>Vice President, Business Banking Solutions</small>

      <h4>I Can Help</h4>
      <p style="-webkit-margin-before:.25em !important;-webkit-margin-after:.65em !important;font-family:arial, sans-serif;">We're here to help with your success. Click the solutions below to email me for more information.</p>
      <ul>
        <li style="font-family:arial, sans-serif;font-size:12px;"><a href="mailto:teresac@statebankfinancial.com?cc=wayneo@statebankfinancial.com&subject=Real%20Estate%20Loans%20Inquiry" style="color:#840d18;">Real Estate Loans</a></li>
        <li style="font-family:arial, sans-serif;font-size:12px;"><a href="mailto:teresac@statebankfinancial.com?cc=wayneo@statebankfinancial.com&subject=Term%20Loans%20Inquiry" style="color:#840d18;">Term Loans</a></li>
        <li style="font-family:arial, sans-serif;font-size:12px;"><a href="mailto:teresac@statebankfinancial.com?cc=wayneo@statebankfinancial.com&subject=Lines%20of%20Credit%20Inquiry" style="color:#840d18;">Lines of Credit</a></li>
        <li style="font-family:arial, sans-serif;font-size:12px;"><a href="mailto:teresac@statebankfinancial.com?cc=wayneo@statebankfinancial.com&subject=Equipment%20Leasing%20Inquiry" style="color:#840d18;">Equipment Leasing</a></li>
        <li style="font-family:arial, sans-serif;font-size:12px;"><a href="mailto:teresac@statebankfinancial.com?cc=wayneo@statebankfinancial.com&subject=Floor%20Plans%20Inquiry" style="color:#840d18;">Floor Plans</a></li>

      </ul>

      <% @contact_from_page = 'terryc@statebankfinancial.com' %>
      <%= render :partial => '/contacts/form', :locals => {:data => @contact} %>

 
</div>

<%= render 'lender_team' %>
