<div class="span5">
<h2>Your Headlines Delivered</h2>
<h3>Industry news relevant to your financial success</h3>
<h4><a href="http://www.bizjournals.com/louisville/news/2013/08/08/some-see-less-demand-for-traditional.html?iana=ind_cre" style="color:#840d18;">Some See Less Demand for 'Traditional' Office Space </a></h4>

<p>Brokers and property managers are increasingly having difficulty leasing and selling traditional downtown office space as more businesses demand open work space and flexible leases. - Business First </p>

<h4><a href="http://www.marketwatch.com/story/ism-manufacturing-index-surges-in-july-2013-08-01" style="color:#840d18;">ISM Manufacturing Index Surges in July </a></h4>

<p>The Institute of Supply Management's gauge of manufacturing activity hit 55.4% in July, the highest level since June 2011. - Market Watch </p>

<h4><a href="http://www.csnews.com/article-thirst_for_knowledge-6064.html" style="color:#840d18;">Thirst for Knowledge </a></h4>

<p>Industry experts provided c-store and grocery channel retailers insight on the current beverage market at the 2013 Convenience Store News and Progressive Grocer Beverage &amp Beer Retailing Summit. - Convenience Store News </p>

<%= render 'econ_indicators' %>
</div>

<div class="span3">
<img src="http://process.mostlyclicks.com/sbf/CroliusTerry_250.jpg" />
  
      <h4>Teresa (Terry) Crolius</h4>
      <small>Vice President, Business Banking Solutions</small>

      <h4>I Can Help</h4>
      <p style="-webkit-margin-before:.25em !important;-webkit-margin-after:.65em !important;font-family:arial, sans-serif;">We're here to help with your success. Click the solutions below to email me for more information.</p>
      <ul>
        <li style="font-family:arial, sans-serif;font-size:12px;"><a href="mailto:teresac@statebankfinancial.com?cc=wayneo@statebankfinancial.com&subject=Real%20Estate%20Loans%20Inquiry" style="color:#840d18;">Real Estate Loans</a></li>
        <li style="font-family:arial, sans-serif;font-size:12px;"><a href="mailto:teresac@statebankfinancial.com?cc=wayneo@statebankfinancial.com&subject=Term%20Loans%20Inquiry" style="color:#840d18;">Term Loans</a></li>
        <li style="font-family:arial, sans-serif;font-size:12px;"><a href="mailto:teresac@statebankfinancial.com?cc=wayneo@statebankfinancial.com&subject=Lines%20of%20Credit%20Inquiry" style="color:#840d18;">Lines of Credit</a></li>
        <li style="font-family:arial, sans-serif;font-size:12px;"><a href="mailto:teresac@statebankfinancial.com?cc=wayneo@statebankfinancial.com&subject=Equipment%20Leasing%20Inquiry" style="color:#840d18;">Equipment Leasing</a></li>
        <li style="font-family:arial, sans-serif;font-size:12px;"><a href="mailto:teresac@statebankfinancial.com?cc=wayneo@statebankfinancial.com&subject=Floor%20Plans%20Inquiry" style="color:#840d18;">Floor Plans</a></li>

      </ul>
 
</div>

<%= render 'lender_team' %>
