<div class="span6">
<h2>Your Headlines Delivered</h2>
<h3>Industry news relevant to your financial success</h3>
<h4><a href="http://www.reuters.com/article/2013/08/16/idUSCATGJE95020130816" style="color:#840d18;">U.S. Housing Starts, Permits Rise in July But Below Forecasts</a></h4>

  <p>The 5.9% seasonally-adjusted increase missed expectations and is a sign that plywood manufacturers could see a dip in demand. - Reuters</p>

  <h4><a href="http://www.bizjournals.com/louisville/news/2013/08/08/some-see-less-demand-for-traditional.html?iana=ind_cre" style="color:#840d18;">Some See Less Demand for 'Traditional' Office Space</a></h4>

  <p>Brokers and property managers are increasingly having difficulty leasing and selling traditional downtown office space as more businesses demand open work space and flexible leases. - Business First</p>

  <h4><a href="http://thegazette.com/2013/08/02/manufactured-home-sales-see-slow-recovering/" style="color:#840d18;">Manufactured Home Sales See Slow Recovering</a></h4>

  <p>This manufactured home dealer says sales are slightly better, but 80% of his customers are buying pre-owned manufactured homes instead of new ones this year. - The Gazette</p>
</div>

<div class="span3">
<table cellpadding="0" cellspacing="0" border="0" width="260" align="left">
  <tr>
    <td class="bio-img" width="250" style=""><img src="http://process.mostlyclicks.com/sbf/Tim_Willenbring_250.jpg" /></td>
  </tr>

  <tr>
    <td align="left" width="250">

       <h3 style="color:#840d18;font-family:arial,sans-serif;margin-top:.5em;">Tim Willenbring</h3>
      <small>Vice President, Business Banking Solutions</small>

      <h4>I Can Help</h4>
      <p style="-webkit-margin-before:.25em !important;-webkit-margin-after:.65em !important;font-family:arial, sans-serif;">We're here to help with your success. Click the solutions below to email me for more information.</p>
      <ul>
        <li style="font-family:arial, sans-serif;font-size:12px;"><a href="mailto:timw@statebankfinancial.com?cc=wayneo@statebankfinancial.com&subject=Real%20Estate%20Loans%20Inquiry" style="color:#840d18;">Real Estate Loans</a></li>
        <li style="font-family:arial, sans-serif;font-size:12px;"><a href="mailto:timw@statebankfinancial.com?cc=wayneo@statebankfinancial.com&subject=Term%20Loans%20Inquiry" style="color:#840d18;">Term Loans</a></li>
        <li style="font-family:arial, sans-serif;font-size:12px;"><a href="mailto:timw@statebankfinancial.com?cc=wayneo@statebankfinancial.com&subject=Lines%20of%20Credit%20Inquiry" style="color:#840d18;">Lines of Credit</a></li>
      </ul>
    
    </td>
  </tr>
</table>
</div>

<%= render 'lender_team' %>
