<% content_for :volume_issue do %>
  Vol. 1, Issue 3
<% end %>

<div class="span5">
<h2>Your Headlines Delivered</h2>
<h3>Industry news relevant to your financial success</h3>

  <h4 class="h-article"><a target="_blank" href="http://blogs.hbr.org/2013/10/research-the-emotions-that-make-marketing-campaigns-go-viral/" style="color:#840d18;" onClick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Bad-Loan Revival Unburdens Banks ']);">Research: The Emotions that Make Marketing Campaigns Go Viral</a></h4>

  <p>NEED COPY</p>

  <h4 class="h-article"><a target="_blank" href="http://www.economist.com/blogs/freeexchange/2013/10/americas-jobs-report" style="color:#840d18;" onClick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'New Converts in U.S.: Hotels ']);">Still sluggish</a></h4>

  <p class="p-article">NEED COPY</p>

  <h4 class="h-article"><a target="_blank" href="http://mobile.bloomberg.com/news/2013-10-23/businesses-may-be-next-target-of-higher-taxes.html"
 style="color:#840d18;" onClick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'New Index Shows Housing Markets Back to Normal in 52 Metros ']);">Businesses May Be Next Target of Higher Taxes - Bloomberg</a></h4>

  <p class="p-article">NEED COPY</p>

</div>

<div class="span3">
<img src="http://process.mostlyclicks.com/sbf/wayne_oliver_250.jpg" />
  

       <h4>Wayne Oliver</h4>
      <small>Executive Vice President</small>

      <h4>I Can Help</h4>
      <p style="-webkit-margin-before:.25em !important;-webkit-margin-after:.65em !important;font-family:arial, sans-serif;">We're here to help with your success. Complete the form below to request more information on these solutions:</p>
      <ul>
        <li style="font-family:arial, sans-serif;font-size:12px;">Real Estate Loans</li>
        <li style="font-family:arial, sans-serif;font-size:12px;">Term Loans</li>
        <li style="font-family:arial, sans-serif;font-size:12px;">Lines of Credit</li>
        <li style="font-family:arial, sans-serif;font-size:12px;">Small Business Loans (SBA)</li>
      </ul>

      <% @contact_from_page = 'wayneo@statebankfinancial.com' %>
<%= render :partial => '/contacts/form', :locals => {:data => @contact} %>


</div>

<%= render 'lender_team' %>
