// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$sb-red: #902d35;
$bg-gray: #f5f5f5;
$issue-blue: #7f9dab;
$bg-tan: #E3E3D9;
$text: #444444;
$body-bg: #e3e3db;
$white: #ffffff;

.red-gradient {
background: #7c1528; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdjMTUyOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM4JSIgc3RvcC1jb2xvcj0iIzc5MTUyNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1MzBlMWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #7c1528 0%, #791527 38%, #530e1a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7c1528), color-stop(38%,#791527), color-stop(100%,#530e1a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #7c1528 0%,#791527 38%,#530e1a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #7c1528 0%,#791527 38%,#530e1a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #7c1528 0%,#791527 38%,#530e1a 100%); /* IE10+ */
background: linear-gradient(to bottom, #7c1528 0%,#791527 38%,#530e1a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c1528', endColorstr='#530e1a',GradientType=0 ); /* IE6-8 */
}

.shadow1 {
  -moz-box-shadow:    1px 1px 1px 1px #d3d3d3;
  -webkit-box-shadow: 1px 1px 1px 1px #d3d3d3;
  box-shadow:         1px 1px 1px 1px #d3d3d3;

}

@mixin white-gradient {
background: #efefef; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmZWZlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjklIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top, #efefef 0%, #ffffff 9%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(9%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #efefef 0%,#ffffff 9%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #efefef 0%,#ffffff 9%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #efefef 0%,#ffffff 9%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom, #efefef 0%,#ffffff 9%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */

}



.padding-20 {
	padding: 20px;
}

.padding-40 {
	padding: 40px;
}

.redborder {border:1px solid red;}


body {
	background: url('http://process.mostlyclicks.com/sbf/bg.jpg') no-repeat 50% 0;
	min-height:700px;
}

html {
	background-color: $body-bg;
	background-image: image-url('body-gradient.gif') repeat-x 0 0;		
}

.header {
  padding:0px;

  img {
  	margin-left:20px;
  	
  }
}



.issue {
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-weight:100;
	display:block;
	background-color: $sb-red;
	@extend .red-gradient;
	
	padding-top:0;
	padding-bottom:0;
	height:40px !important;
	font-size:17px;
	line-height:40px;
	text-transform:uppercase;
	color:$white;
	text-shadow: 1px 1px 1px #000;
	.span4 {
		text-align: right;
	}
	.span8 {
		letter-spacing: 1.5px;

	}
}

.main {
	background-color: $white;
	@include white-gradient;
	img {
		@extend .shadow1;
	}
}

.lender {
	text-align: center;

}

h1, h2, h3 {
	color: $sb-red;
}

h3 {
	margin-top: -.70em;
	color:$bg-gray - 90;
	line-height:1em;
	font-size:130%;
}

h4 {
	margin-top:1em;color:$sb-red;
}

p {margin-bottom:2em;margin-top:-.5em;}

small {
	display:block;
	margin-top:-1em;
	color:$sb-red;
	font-style:italic;

}

.thumbs {
	font-style:normal;	
	margin-top:0;
	line-height:1.25em;	

}

.footer {
	padding-top:0px;
	font-size:11px;
	line-height:11px;
}

.subfooter {
	padding:10px 0 10px 0;
	border-top:1px solid #b5b5aa;
	padding-top:12px;
	a {
		color:$sb-red;
	}

}

.center {
	text-align:center;
}

label {font-size:12px;}


